@page "/editToDoItem/{ItemId:int}"
@using ToDoList.Frontend.Views
@using ToDoList.Frontend.Clients
@using ToDoList.Domain.Types
@inject NavigationManager NavigationManager
@inject IToDoItemsClient ToDoItemClient
@rendermode InteractiveServer


<PageTitle>Edit To-Do Item</PageTitle>

<br>
<div class="container" style="background-color: beige;">
    <div class="flex-container">
        <h2>EDIT TO-DO ITEM</h2>
        @if (ToDoItem is not null)
        {
            <EditForm Model="ToDoItem" FormName="EditToDoItem" OnValidSubmit="Submit">
                <DataAnnotationsValidator />
                <div class="itemToChange">
                    <label for="Name" class="form-label">Your task name:</label>
                    <InputText id="Name" class="form-control" @bind-Value="ToDoItem.Name" />
                    <ValidationMessage For="() => ToDoItem.Name" />
                </div>
                <div class="itemToChange">
                    <label for="Description" class="form-label">Your task description:</label>
                    <InputText id="Description" class="form-control" @bind-Value="ToDoItem.Description" />
                    <ValidationMessage For="() => ToDoItem.Description" />
                </div>
                <div class="itemToChange">
                    <label for="Category" class="form-label">Your task category:</label>
                    <InputText id="Category" class="form-control" @bind-Value="ToDoItem.Category" />
                    <ValidationMessage For="() => ToDoItem.Category" />
                </div>
                <div class="itemToChange">
                    <label for="TaskPriority" class="form-label">Priority:</label>
                    <InputSelect id="TaskPriority" class="form-control" @bind-Value="ToDoItem.TaskPriority">
                        @foreach (var priority in Enum.GetValues<Priority>().Cast<Priority>().Where(p => p !=
                    Priority.Unknown))
                        {
                            <option value="@priority">@priority</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => ToDoItem.TaskPriority" />
                </div>
                <div class="itemToChange">
                    <label for="IsCompleted" class="form-check-label">IsCompleted:</label>
                    <InputCheckbox id="IsCompleted" class="form-check" @bind-Value="ToDoItem.IsCompleted" />
                    <ValidationMessage For="() => ToDoItem.IsCompleted" />
                </div>
                <br>
                <button type="button" class="btn btn-danger" @onclick="Cancel">Cancel</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>

        }
    </div>
</div>

<style>
    body {
        background-image: linear-gradient(to right, rgb(70, 7, 153), rgb(26, 207, 10));
    }

    label {
        font-weight: bolder;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
    }

    .itemToChange {
        display: block;
        padding-top: 1rem;
    }
</style>


@code {
    protected override async Task OnInitializedAsync()
    {
        ToDoItem = await ToDoItemClient.ReadItemByIdAsync(ItemId) ?? new ToDoItemView();
        SubmitDelegate += LogSubmit;
    }
    public delegate void ToDoItemViewProcessingDelegate(ToDoItemView toDoItemView);
    private ToDoItemViewProcessingDelegate? SubmitDelegate;

    private void LogSubmit(ToDoItemView toDoItemView)
    {
        Console.WriteLine($"ToDoItem with ID={toDoItemView.ToDoItemId} was submitted.");
    }

    [Parameter]
    public int ItemId { get; set; }

    [SupplyParameterFromForm]
    public ToDoItemView? ToDoItem { get; set; }
    private void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }
    public async Task Submit()
    {
        if (ToDoItem != null)
        {
            SubmitDelegate?.Invoke(ToDoItem);

            await ToDoItemClient.UpdateItemAsync(ToDoItem);
            NavigationManager.NavigateTo("/");
        }
    }
}
